<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psxplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>psxplugin</string>
			<key>CFBundleTypeName</key>
			<string>Playstation Emulator Plug-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PsxP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.codeplex.pcsxr.plugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>psxbios</string>
			<key>CFBundleTypeName</key>
			<string>Playstation BIOS Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PsxB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mcr</string>
				<string>mc</string>
				<string>mem</string>
				<string>vgs</string>
				<string>mcd</string>
				<string>gme</string>
				<string>ddf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pcsxrmemcard</string>
			<key>CFBundleTypeName</key>
			<string>PCSXR Memory Card</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Pmcr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.codeplex.pcsxr.memcard</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcsxrstate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pcsxrfreeze</string>
			<key>CFBundleTypeName</key>
			<string>PCSXR Freeze State</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Pfrz</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.codeplex.pcsxr.freeze</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iso</string>
				<string>bin</string>
				<string>cue</string>
				<string>mdf</string>
				<string>img</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PlayStation Disc</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sony.psp.firmware</string>
				<string>com.codeplex.pcsxr.compressed-bin-image</string>
				<string>com.alcohol-soft.mdfdisc</string>
				<string>com.apple.disk-image-ndif</string>
				<string>com.goldenhawk.cdrwin-cuesheet</string>
				<string>public.iso-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cht</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Playstation Cheat</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.codeplex.pcsxr.cheat</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>PCSXR</string>
	<key>CFBundleIdentifier</key>
	<string>com.codeplex.pcsxr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PCSXR</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.93</string>
	<key>CFBundleSignature</key>
	<string>Pcsx</string>
	<key>CFBundleVersion</key>
	<string>86707</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSMainNibFile</key>
	<string>PCSXR</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Playstation Emulator Plug-in</string>
			<key>UTTypeIconFile</key>
			<string>psxplugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.plugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pcsxr.codeplex.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>PsxP</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>psxplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCSXR Memory Card</string>
			<key>UTTypeIconFile</key>
			<string>pcsxrmemcard</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.memcard</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pcsxr.codeplex.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Pmcr</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mcr</string>
					<string>mc</string>
					<string>mem</string>
					<string>vgs</string>
					<string>mcd</string>
					<string>gme</string>
					<string>ddf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCSXR Freeze State</string>
			<key>UTTypeIconFile</key>
			<string>pcsxrfreeze</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.freeze</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pcsxr.codeplex.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Pfrz</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>pcsxrstate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCSXR Cheat</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.cheat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cht</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>bin/cue Disc Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.goldenhawk.cdrwin-cuesheet</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cue</string>
					<string>inst</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-cue</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Alcohol Disc Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.alcohol-soft.mdfdisc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.alcohol-soft.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PSP firmware dump</string>
			<key>UTTypeIdentifier</key>
			<string>com.sony.psp.firmware</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compressed bin Disc Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.compressed-bin-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbin</string>
					<string>cbn</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
