DEBUG_PREPROCESSOR_DEFINITIONS = 
#include "Pcsxr.xcconfig"

GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_OPTIMIZATION_LEVEL = s
GCC_UNROLL_LOOPS = YES
COPY_PHASE_STRIP = YES
OPTIMIZATION_CFLAGS = -finline-functions -fomit-frame-pointer -fno-exceptions -funroll-loops -ffast-math
STRIP_INSTALLED_PRODUCT = YES
DEAD_CODE_STRIPPING = YES

APPLY_RULES_IN_COPY_FILES = YES
GENERATE_PKGINFO_FILE = YES
INFOPLIST_OUTPUT_FORMAT = binary
PLIST_FILE_OUTPUT_FORMAT = binary
STRINGS_FILE_OUTPUT_ENCODING = binary
CODE_SIGN_IDENTITY = PCSX-R Developer
