DEBUG_PREPROCESSOR_DEFINITIONS = DEBUG=1
#include "Pcsxr.xcconfig"

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_UNROLL_LOOPS = NO
ONLY_ACTIVE_ARCH = YES
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
OPTIMIZATION_CFLAGS = -finline-functions -finline-limit=1600 -fno-exceptions -funroll-loops -falign-loops=16 -ffast-math
