//
//  Pcsxr.xcconfig
//  Pcsxr
//
//  Created by C.W. Betts on 7/4/13.
//
//

ARCHS = $(ARCHS_STANDARD)
SDKROOT = macosx
GCC_PREPROCESSOR_DEFINITIONS = _MACOSX=1 $(DEBUG_PREPROCESSOR_DEFINITIONS)
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.7
CLANG_ENABLE_OBJC_ARC = YES
GCC_DYNAMIC_NO_PIC = NO
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = plugins/$(TARGET_NAME)/Info.plist
PRODUCT_NAME = $(TARGET_NAME)
GCC_C_LANGUAGE_STANDARD = gnu89
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
GENERATE_PKGINFO_FILE = YES
SKIP_INSTALL = YES
