<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.codeplex.pcsxr.memcard</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.pcsxr.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>8C4B8FFE-72CC-436C-8D8A-034152616D03</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>8C4B8FFE-72CC-436C-8D8A-034152616D03</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<integer>600</integer>
	<key>QLPreviewWidth</key>
	<integer>600</integer>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCSXR Memory Card</string>
			<key>UTTypeIconFile</key>
			<string>pcsxrmemcard</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.memcard</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pcsxr.codeplex.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Pmcr</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mcr</string>
					<string>mc</string>
					<string>mem</string>
					<string>vgs</string>
					<string>mcd</string>
					<string>gme</string>
					<string>ddf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCSXR Freeze State</string>
			<key>UTTypeIconFile</key>
			<string>pcsxrfreeze</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.freeze</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pcsxr.codeplex.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Pfrz</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>pcsxrstate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCSXR Cheat</string>
			<key>UTTypeIdentifier</key>
			<string>com.codeplex.pcsxr.cheat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cht</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
